[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
pytest-django = "*"
psycopg2 = "*"
python-dotenv = "*"
dj-database-url = "*"
django-webpack-loader = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"

[scripts]
server = "python manage.py runserver"
check = "python manage.py check"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
